/* css reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* parts recommend form the MDN articles  */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

input,
textarea,
select,
button {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* end of the reset */

body {
  background-color: lightblue;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 0.1fr 6fr 0.1fr auto;
  min-height: 100vh;
}

#title {
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#playerTurn {
  grid-column: 1/3;
  grid-row: 2/3;
  text-align: center;
}

#gridPlayer {
  grid-column: 1/2;
  grid-row: 3/4;
  background-color: lightgreen;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 2fr;
}

#title2 {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

p {
  font-size: 2rem;
}

#realGrid1 {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
}

#gridAttacks {
  grid-column: 2/3;
  grid-row: 3/4;
  background-color: lightgreen;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 2fr;
}

#title3 {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#realGrid2 {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
}

#buttons {
  grid-column: 1/3;
  grid-row: 4/5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#start {
  width: 100px;
  height: 30px;
  margin-right: 5rem;
}

#restart {
  width: 100px;
  height: 30px;
  margin-left: 5rem;
}

#footer {
  grid-column: 1/3;
  grid-row: 5/6;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: calc(100% / 10);
  height: calc(100% / 10);
  border: solid 1px black;
}

#ship5 {
  border: solid 3px red;
  height: 100%;
  width: 100%;
}

#ship4 {
  border: solid 3px blue;
  height: 100%;
  width: 100%;
}

#ship3 {
  border: solid 3px green;
  height: 100%;
  width: 100%;
}

#ship2 {
  border: solid 3px brown;
  height: 100%;
  width: 100%;
}
